[packages.opentelemetry]
versioned_files = ["Cargo.lock", "crates/opentelemetry/Cargo.toml"]
changelog = "crates/opentelemetry/CHANGELOG.md"
scopes = ["lib", "opentelemetry", "pyo3-opentelemetry"]

[packages.opentelemetry-macros]
versioned_files = [
    "Cargo.lock",
    "crates/opentelemetry-macros/Cargo.toml",
    { path = "crates/opentelemetry/Cargo.toml", dependency = "opentelemetry-macros" },
]
changelog = "crates/opentelemetry-macros/CHANGELOG.md"
scopes = ["macros", "opentelemetry-macros", "pyo3-opentelemetry-macros"]

[packages.tracing-subscriber]
versioned_files = ["Cargo.lock", "crates/tracing-subscriber/Cargo.toml"]
changelog = "crates/tracing-subscriber/CHANGELOG.md"
scopes = ["tracing-subscriber", "pyo3-tracing-subscriber"]

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"

# Do not commit the changelog if the version is a release candidate.
[[workflows.steps]]
type = "Command"
command = 'case "$version" in *"-dev."*) git restore --staged --worktree CHANGELOG.md ;; esac || true'
shell = true

[[workflows.steps]]
type = "Command"
# git diff --cached --quiet exits with 0 if there are *no* staged changes.
# So if it exits with any other code, commit the staged changes
command = "(git diff --cached --quiet || git commit -m \"chore: prepare new release(s)\")"

[[workflows.steps]]
type = "Release"

[[workflows.steps]]
type = "Command"
command = "./scripts/ci/release.sh"

[github]
owner = "rigetti"
repo = "pyo3-opentelemetry"
