[packages.opentelemetry]
versioned_files = ["Cargo.lock", "crates/opentelemetry/Cargo.toml"]
changelog = "crates/opentelemetry/CHANGELOG.md"
scopes = ["lib", "opentelemetry", "pyo3-opentelemetry"]

[packages.opentelemetry-macros]
versioned_files = [
    "Cargo.lock",
    "crates/opentelemetry-macros/Cargo.toml",
    { path = "crates/opentelemetry/Cargo.toml", dependency = "pyo3-opentelemetry-macros" },
]
changelog = "crates/opentelemetry-macros/CHANGELOG.md"
scopes = ["macros", "opentelemetry-macros", "pyo3-opentelemetry-macros"]

[packages.tracing-subscriber]
versioned_files = ["Cargo.lock", "crates/tracing-subscriber/Cargo.toml"]
changelog = "crates/tracing-subscriber/CHANGELOG.md"
scopes = ["tracing-subscriber", "pyo3-tracing-subscriber"]

[[workflows]]
name = "release"

[[workflows.steps]]
type = "PrepareRelease"

[[workflows.steps]]
type = "Command"
command = 'git commit -m "chore: prepare release [skip ci]"'

[[workflows.steps]]
type = "Command"
command = "git push"

[[workflows.steps]]
type = "Release"

[github]
owner = "rigetti"
repo = "pyo3-opentelemetry"
