on:
  push:
    branches: [main]
  pull_request: {}

name: Checks

jobs:
  checks:
    name: Run Checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]
    steps:
      # Checkout, setup Rust tools, etc.
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@cargo-make

      - name: Run Rust CI
        run: cargo make check-all

      # Setup Python and run Python example
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry
        uses: abatilo/actions-poetry@v4

      - name: Configure Python Cache
        uses: actions/cache@v4
        with:
          path: ".venv"
          key: ${{ runner.os }}-${{ matrix.python-version }}-venv-${{ hashFiles('**/poetry.lock') }}

      - name: Run Python Example
        run: cargo make --cwd examples/pyo3-opentelemetry-lib python-check-all

