name: Prerelease

on:
  workflow_dispatch: {}

jobs:
  prerelease:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.PAT }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: ${{ secrets.PAT }}
    - uses: actions-rs/toolchain@v1
    - run: cargo install knope --version 0.13.2
    - run: |
        git config --global user.name "${{ github.triggering_actor }}"
        git config --global user.email "${{ github.triggering_actor}}@users.noreply.github.com"
    - name: Prepare Prerelease
      run: knope release --prerelease-label=rc

