name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - '**'
    
jobs:
  opentelemetry:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/opentelemetry/v')
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - run: |
          sudo apt update -y && sudo apt install curl -y
          sudo curl -fsSL https://github.com/mikefarah/yq/releases/download/v4.35.1/yq_linux_amd64 -o /usr/bin/yq
          sudo chmod +x /usr/bin/yq
        name: Install yq
      # Below we give some time to make sure that the macros crate is published before the lib crate
      # in the case that the new lib crate depends on the new, yet to be published macros crate.
      - run: timeout 15m bash -c 'until ./scripts/ci/assert-macros-crate-published.sh; do sleep 10; done'
      - run: cargo publish -p pyo3-opentelemetry --token ${{ secrets.CRATES_IO_TOKEN }}
  opentelemetry-macros:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/opentelemetry-macros/v')
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - run: cargo publish -p pyo3-opentelemetry-macros --token ${{ secrets.CRATES_IO_TOKEN }}
  tracing-subscriber:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/tracing-subscriber')
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - run: cargo publish -p pyo3-tracing-subscriber --token ${{ secrets.CRATES_IO_TOKEN }}

