name: Release

on:
  workflow_dispatch: {} 

jobs:
  release:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.PAT }}
      DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: ${{ secrets.PAT }}
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - run: cargo install knope --version 0.13.2
    - run: |
        git config --global user.name "${{ github.triggering_actor }}"
        git config --global user.email "${{ github.triggering_actor}}@users.noreply.github.com"
    - name: Prepare Release
      run: knope release
